@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-fonts {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-fonts {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.bg-img {
  background-image: url(../assets/bg-img.png);
}
.flex {
  display: flex;
}

.width {
  max-width: 1160px;
  margin: 0 auto;
}

.font-primary {
  font-weight: 500;
  font-size: 1.25rem;
}

.footer-wth {
  max-width: 1070px;
  margin: 0 auto;
}

/* nav styles */

.school {
  gap: 11px;
}

.logo {
  max-width: 70px;
  max-height: 70px;
}

nav ul {
  list-style: none;
  gap: 32px;
}

nav {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.nav-title {
  font-weight: 700;
  font-size: 2rem;
  color: rgba(17, 17, 17, 1);
}

.nav-home {
  font-weight: 700;
  font-size: 1.25rem;
}

.nav-btn {
  font-weight: 600;
  font-size: 1.25rem;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  color: #ffffff;
  background-color: rgba(254, 163, 1, 1);
  border: none;
}

nav li a {
  text-decoration: none;
}

.checkbtn {
  display: none;
}
#check {
  display: none;
}

hr {
  visibility: hidden;
}

/* banner styles */

.empowering-vision {
  padding: 122px 0;
}

.vision-container {
  gap: 50px;
}

.vision-title {
  font-weight: 700;
  font-size: 3.5rem;
}

.vision-description {
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(17, 17, 17, 1);
  margin: 24px 0;
}

.banner-btn {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(17, 17, 17, 1);
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
}

.banner-img {
  width: 100%;
}

/* first section */

.stn-curriculum {
  background-image: url(../assets/bg-img.png);
}

.curriculum-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: #000000;
  text-align: center;
  margin: 60px 0 80px;
}

.card-container {
  display: flex;
  gap: 28px;
}

.card1,
.card2,
.card3 {
  width: 368px;
  text-align: center;
  padding: 52px 40px;
}

.card-image,
.card-title,
.card-description {
  margin-bottom: 32px;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(32, 32, 32, 1);
}

.card-description {
  font-weight: 500;
  font-size: 1rem;
  color: #808080;
}

.card1 {
  background: linear-gradient(to bottom, #def5ff, #ffffff);
  border-radius: 18px;
}
.card2 {
  background: linear-gradient(to bottom, #fff4dc, #ffffff);
  border-radius: 18px;
}
.card3 {
  background: linear-gradient(to bottom, #f2e8ff, #ffffff);
  border-radius: 18px;
}

p {
  font-weight: 700;
  font-size: 1rem;
}

.card1 > p {
  color: #64c8ff;
}
.card2 > p {
  color: #f0aa00;
}
.card3 > p {
  color: #8700ff;
}

.curriculum-icon {
  text-align: center;
  margin: 80px 0 60px;
}

/* 2nd section */

.stories-bg {
  background: linear-gradient(
      to top,
      rgba(254, 163, 1, 0.2),
      rgba(255, 255, 255, 0.4)
    ),
    url(../assets/bg-img.png);
}

.stories-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-bottom: 80px;
}

.stories-container {
  display: flex;
  gap: 16px;
}

.story-group {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
}

.story1,
.story2,
.story3,
.story4,
.story5 {
  border-radius: 16px;
  background-color: #ffffff;
}
.story-img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.story-title1 {
  font-weight: 700;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 1);
  padding: 0 100px 50px 38px;
}
.story-description1 {
  font-weight: 500;
  font-size: 1rem;
  color: #666666;
  padding: 0 68px 34px 38px;
}

.story-title {
  font-weight: 700;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  padding: 0 50px 30px 40px;
}
.story-btn {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background-color: #95b226;
  width: 170px;
  height: 38px;
  border-radius: 48px;
  border: none;
  transform: translateX(38px) translateY(-25px);
}
.story-btn1 {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background-color: #3cd8e8;
  border-radius: 48px;
  width: 170px;
  height: 48px;
  border: none;
  transform: translateX(38px) translateY(-25px);
}

.story-btn3 {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background-color: #5d58f0;
  width: 170px;
  height: 38px;
  border-radius: 48px;
  border: none;
  transform: translateX(38px) translateY(-20px);
}

.story-btn5 {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background-color: #95b226;
  width: 128px;
  height: 38px;
  border-radius: 48px;
  border: none;
  transform: translateX(38px) translateY(-20px);
}

.view-btn {
  width: 190px;
  height: 50px;
  color: #ffffff;
  background-color: rgba(17, 17, 17, 1);
  border-radius: 12px;
  border: none;
  margin: 80px 480px 60px;
}


/* footer */

footer{
  height: 520px;
  background-color: rgba(1, 172, 253, 1);
}

.footer-container{
  display: flex;
  padding: 123px 228px 174px 140px;
}

.combined{
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-logo{
  width: 82px;
  height: 82px;
  background: linear-gradient(to bottom, #FFFFFF, );
}
.footer-title{
  font-weight: 700;
  font-size: 2.6rem;
  color: #FFFFFF;
  width: 205px;
}
.footer-description{
  font-weight: 400;
  font-size: 1.2rem;
  color: #FFFFFF;
}

.about-title{
  font-weight: 700;
  font-size: 1.4rem;
  color: #FFFFFF;
}
.about-btn{
  font-weight: 500;
  font-size: 1.25rem;
  color: #FFFFFF;
  border: none;
  background: none;
  display: block;
}

.touch-title{
  font-weight: 700;
  font-size: 1.6rem;
  color: #FFFFFF;
}
.icon-container{
  display: flex;
  gap: 12px;
}
/* Responsive styles */

/* responsive for small devices */

@media screen and (max-width: 576px) {
  /* navbar & banner */

  nav ul li,
  .nav-btn,
  .nav-title {
    display: none;
  }

  .checkbtn {
    display: block;
    font-size: 2rem;
    color: rgba(17, 17, 17, 1);
    margin-right: 16px;
  }
  hr {
    visibility: visible;
  }
  .vision-container {
    flex-direction: column-reverse;
  }

  .banner-img {
    width: 100%;
  }

  .empowering-vision {
    text-align: center;
    padding: 10px 0;
  }

  /* first section */
  .card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card1, .card2, .card3 {
    width: 310px;
    border: 1px solid red;
  }

  .arrows {
    display: none;
  }

  /* second-section */

  .story1 {
    display: none;
  }

  .story2,
  .story3,
  .story4,
  .story5 {
    width: 190px;
    height: 200px;
  }

  .story-btn,
  .story-btn3,
  .story-btn5 {
    width: 110px;
    height: 25px;
    font-weight: 500;
    font-size: 0.6rem;
    transform: translateX(15px) translateY(-18px);
  }

  .story-title {
    font-weight: 700;
    font-size: 0.6rem;
    padding: 0 22px;
  }

  .story-img {
    width: 100%;
  }

  .story-group {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .view-btn {
    width: 134px;
    height: 30px;
    margin: 20px 128px 40px;

  }
}